AZURE_AI_AGENT_PROJECT_CONNECTION_STRING = ""
AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME = "gpt-4o"
AZURE_AI_AGENT_ENDPOINT = ""
AZURE_AI_AGENT_SUBSCRIPTION_ID = ""
AZURE_AI_AGENT_RESOURCE_GROUP_NAME = ""
AZURE_AI_AGENT_PROJECT_NAME = ""

# Agent ID orquestador ( required for web app)
AZURE_AI_AGENT_ID = ""